#wrapper {
text-align:justify;
width:100%;
}

#left{
float:left;
height:120%;
width:69%;
border-style:double;
margin:0 0 2% 5%;
}

#right{
float:left;
height:40%;
width:19%;
border-style : double;
margin:0 5% 0 2%;
}

#footer {
text-align:justify;
width:100%;
}

#left_f{
clear:both;
float:left;
height:auto;
width:100%;
margin:2% 0 0 0;
padding:0 3% 0 3%;
background:blue;
}