#wrapper {
text-align:justify;
width:100%;
}

#left{
float:left;
height:120%;
width:69%;
margin:0 0 0 5%;
}

#right{
float:left;
height:40%;
width:19%;
border-left:thin solid #000000;
margin:0 5% 0 0%;
}
#right > p {
float:left;

margin: 2%;
}

#footer {
text-align:justify;
width:100%;
}

#left_f{
clear:both;
float:left;
height:auto;
width:100%;
margin:2% 0 0 0;
padding:0 3% 0 3%;
background:blue;
}