#menu {  
    list-style:none;  
    width:auto;  
    margin:0px;  
    height:43px;  
    padding:0px 20px 0px 20px;  
    
    /* Background color and gradients */  
      
    background: #014464;  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #333333;), to(#013953));  
      
    /* Borders */  
      
    border: 1px solid #002232;  
  
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;  
    box-shadow:inset 0px 0px 1px #edf9ff;  
}  
  
#menu li {  
    float:left;  
    display:block;  
    text-align:center;  
    position:relative;  
    padding:0.2% 3.68% 1% 0.9%;  
    margin-right:30px;  
    margin-top:-5px;  
    border:none; 
 	font-size:100px;
}  
  
#menu li:hover {  
    border: 1px solid #ffffff;  
    padding: 4px 9px 4px 9px;  
      
    /* Background color and gradients */  
      
    background: #D0D0D0;  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0 ), to(#D0D0D0 ));  
      
}  
  
#menu li a {  
    font-family:Arial, Helvetica, sans-serif;  
    font-size:14px;   
    color: #F0F0F0 ;  
    display:block;  
    outline:0;  
    text-decoration:none;  
    text-shadow: 0px #000000;  
}  
  
#menu li:hover a {  
    color:#777777;  
    text-shadow: 0px #E80000  ;  
}  
.dropdown_1column
{  
    margin:4px auto;  
    position:absolute;  
    left:-999em;   
    text-align:left;  
    padding:10px 0px 10px 5px;  
    border:1px solid #777777;  
    border-top:none;  
      
    /* Gradient background */  
    background:#F4F4F4;  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));  
  
    /* Rounded Corners   
    -webkit-border-radius: 0px 5px 5px 5px;  
    border-radius: 0px 5px 5px 5px;  */
} 	
#menu .menu_right {  
    float:rightright;  
    margin-right:0px;  
} 
#menu li .align_right {  
    /* Rounded Corners  
    -webkit-border-radius: 5px 0px 5px 5px;  
    border-radius: 5px 0px 5px 5px; */ 
}  
#menu li:hover .align_right {  
    left:auto;  
    rightright:-1px;  
    top:auto;  
}  
.dropdown_1column {width: 180px;}  
#menu li:hover .dropdown_1column   
 {  
    left:-2.5px;top:auto; }  

.box {
	width:180px;  
    margin:-5px;  
    height:20px;  
    padding:2px 2px 0px 2px; 
	text-align:center; 
  
    /* Background color and gradients */  
      
    background: #014464;  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #333333;), to(#013953));  
      
    /* Borders */  
      
    border: 1px solid #002232;  
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;  
    box-shadow:inset 0px 0px 1px #edf9ff;
}